In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

In [3]:
#  Creando dataFrames de CSV a analizar
actividad_diaria = pd.read_csv('dailyActivity_merged.csv')
calorias_diarias = pd.read_csv('dailyCalories_merged.csv')
pasos_diarios = pd.read_csv('dailySteps_merged.csv')
sleep_day = pd.read_csv('sleepDay_merged.csv')
peso = pd.read_csv('weightLoginfo_merged.csv')

In [4]:
# Transformando a horas el tiempo de sueño
sleep_day['hours_sleep'] = round((sleep_day['TotalTimeInBed'] / 60),2)

In [5]:
# Renombrando la columna de la fecha para posteriormente hacer merged
sleep_day.rename(columns={'SleepDay':'ActivityDate'}, inplace=True)

In [6]:
# Hay 3 filas duplicadas, las eliminamos 
sleep_day = sleep_day.drop_duplicates()

In [7]:
# Columnas mas relevantes
# actividad_diaria3 = actividad_diaria[['Id','TotalSteps','TotalDistance','VeryActiveDistance','LightActiveDistance','SedentaryActiveDistance','Calories']]

In [8]:
# Transformando en DateTime la fecha
actividad_diaria['ActivityDate'] = pd.to_datetime(actividad_diaria['ActivityDate'])

In [9]:
# Transformando en DateTime la fecha
sleep_day['ActivityDate'] =  pd.to_datetime(sleep_day['ActivityDate'])

C:\Users\Abdon.RAMIREZ-BRICEN\AppData\Local\Temp\ipykernel_35896\187503775.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  sleep_day['ActivityDate'] =  pd.to_datetime(sleep_day['ActivityDate'])

In [10]:
# Agregando al DataFrame principal la columna de Horas de sueño
activity = pd.merge(actividad_diaria,sleep_day[['Id','ActivityDate','hours_sleep']],on=['Id','ActivityDate'],how='left')

In [11]:
# Elimianndo filas duplicadas
activity = activity.drop_duplicates()

In [12]:
# Guardamos en csv el DataFrame actualizado
activity.to_csv('activity_users.csv')

In [13]:
pd.set_option('display.max_rows', None)  # Mostrar todas las filas
pd.set_option('display.max_columns', None)  # Mostrar todas las columnas

In [15]:
activity.groupby(['Id', 'ActivityDate'])['hours_sleep'].value_counts().reset_index(name='count')

             Id ActivityDate  hours_sleep  count
0    1503960366   2016-04-12         5.77      1
1    1503960366   2016-04-13         6.78      1
2    1503960366   2016-04-15         7.37      1
3    1503960366   2016-04-16         6.12      1
4    1503960366   2016-04-17        11.87      1
5    1503960366   2016-04-19         5.33      1
6    1503960366   2016-04-20         6.28      1
7    1503960366   2016-04-21         6.07      1
8    1503960366   2016-04-23         6.40      1
9    1503960366   2016-04-24         7.48      1
10   1503960366   2016-04-25         5.38      1
11   1503960366   2016-04-26         4.57      1
12   1503960366   2016-04-28         6.55      1
13   1503960366   2016-04-29         5.90      1
14   1503960366   2016-04-30         7.08      1
15   1503960366   2016-05-01         6.60      1
16   1503960366   2016-05-02         5.15      1
17   1503960366   2016-05-03         4.93      1
18   1503960366   2016-05-05         4.40      1
19   1503960366   2016-05-06         6.12      1
20   1503960366   2016-05-07         5.82      1
21   1503960366   2016-05-08        10.18      1
22   1503960366   2016-05-09         5.70      1
23   1503960366   2016-05-10         6.72      1
24   1503960366   2016-05-11         5.10      1
25   1644430081   2016-04-29         2.12      1
26   1644430081   2016-04-30         2.37      1
27   1644430081   2016-05-02        16.02      1
28   1644430081   2016-05-08         2.57      1
29   1844505072   2016-04-15        16.02      1
30   1844505072   2016-04-30        16.02      1
31   1844505072   2016-05-01        16.02      1
32   1927972279   2016-04-12        12.92      1
33   1927972279   2016-04-13         7.03      1
34   1927972279   2016-04-15         8.32      1
35   1927972279   2016-04-26         5.25      1
36   1927972279   2016-04-28         2.97      1
37   2026352035   2016-04-12         9.10      1
38   2026352035   2016-04-13         9.42      1
39   2026352035   2016-04-14         9.47      1
40   2026352035   2016-04-15         9.55      1
41   2026352035   2016-04-16         9.45      1
42   2026352035   2016-04-17         8.30      1
43   2026352035   2016-04-19         9.00      1
44   2026352035   2016-04-20         8.50      1
45   2026352035   2016-04-21         8.57      1
46   2026352035   2016-04-22         9.08      1
47   2026352035   2016-04-23         9.23      1
48   2026352035   2016-04-24         9.85      1
49   2026352035   2016-04-25         8.85      1
50   2026352035   2016-04-27         9.08      1
51   2026352035   2016-04-28         9.08      1
52   2026352035   2016-04-29         8.50      1
53   2026352035   2016-04-30        10.12      1
54   2026352035   2016-05-01         9.10      1
55   2026352035   2016-05-02         9.05      1
56   2026352035   2016-05-04         9.33      1
57   2026352035   2016-05-05         8.08      1
58   2026352035   2016-05-06         9.13      1
59   2026352035   2016-05-07         8.68      1
60   2026352035   2016-05-08         9.47      1
61   2026352035   2016-05-09         9.27      1
62   2026352035   2016-05-10         6.33      1
63   2026352035   2016-05-11         9.22      1
64   2026352035   2016-05-12         8.08      1
65   2320127002   2016-04-23         1.15      1
66   2347167796   2016-04-13         8.85      1
67   2347167796   2016-04-14         8.15      1
68   2347167796   2016-04-15         8.40      1
69   2347167796   2016-04-17        10.03      1
70   2347167796   2016-04-18         9.28      1
71   2347167796   2016-04-19         8.57      1
72   2347167796   2016-04-21         8.07      1
73   2347167796   2016-04-22         7.68      1
74   2347167796   2016-04-23         6.43      1
75   2347167796   2016-04-24         7.65      1
76   2347167796   2016-04-25         7.85      1
77   2347167796   2016-04-26         8.17      1
78   2347167796   2016-04-27         8.32      1
79   2347167796   2016-04-28         7.50      1
80   2347167796   2016-04-29         7.88      1
81   3977333714   2016-04-12         7.82      1
82   3977333714   2016-04-13         7.60      1
83   3977333714   2016-04-14         6.62      1
84   3977333714   2016-04-15         9.27      1
85   3977333714   2016-04-16         8.50      1
86   3977333714   2016-04-17         9.43      1
87   3977333714   2016-04-18         8.70      1
88   3977333714   2016-04-19         6.58      1
89   3977333714   2016-04-20         5.08      1
90   3977333714   2016-04-21         8.53      1
91   3977333714   2016-04-22         7.93      1
92   3977333714   2016-04-23         6.20      1
93   3977333714   2016-04-24         8.77      1
94   3977333714   2016-04-25         7.78      1
95   3977333714   2016-04-26         6.18      1
96   3977333714   2016-04-27         9.00      1
97   3977333714   2016-04-28         7.05      1
98   3977333714   2016-04-29         7.97      1
99   3977333714   2016-04-30         6.37      1
100  3977333714   2016-05-01        10.43      1
101  3977333714   2016-05-02         6.40      1
102  3977333714   2016-05-03         8.33      1
103  3977333714   2016-05-04         5.60      1
104  3977333714   2016-05-05         8.00      1
105  3977333714   2016-05-06         8.53      1
106  3977333714   2016-05-07         7.38      1
107  3977333714   2016-05-08         7.60      1
108  3977333714   2016-05-10         7.53      1
109  4020332650   2016-04-12         9.02      1
110  4020332650   2016-04-16         1.28      1
111  4020332650   2016-05-03         5.53      1
112  4020332650   2016-05-04         8.93      1
113  4020332650   2016-05-05         4.13      1
114  4020332650   2016-05-06         6.80      1
115  4020332650   2016-05-08         6.70      1
116  4020332650   2016-05-10         8.23      1
117  4319703577   2016-04-14         9.28      1
118  4319703577   2016-04-15         8.18      1
119  4319703577   2016-04-16         8.70      1
120  4319703577   2016-04-18         9.18      1
121  4319703577   2016-04-19         8.30      1
122  4319703577   2016-04-20         9.05      1
123  4319703577   2016-04-21         1.08      1
124  4319703577   2016-04-22         9.17      1
125  4319703577   2016-04-23        12.03      1
126  4319703577   2016-04-24         8.35      1
127  4319703577   2016-04-25         8.43      1
128  4319703577   2016-04-26         8.60      1
129  4319703577   2016-04-27         5.12      1
130  4319703577   2016-04-28         8.70      1
131  4319703577   2016-04-29         9.10      1
132  4319703577   2016-04-30         8.60      1
133  4319703577   2016-05-01         8.33      1
134  4319703577   2016-05-02         8.43      1
135  4319703577   2016-05-03         8.53      1
136  4319703577   2016-05-06         8.18      1
137  4319703577   2016-05-07         8.83      1
138  4319703577   2016-05-08        10.63      1
139  4319703577   2016-05-09         9.42      1
140  4319703577   2016-05-10         8.62      1
141  4319703577   2016-05-11         9.30      1
142  4319703577   2016-05-12         5.35      1
143  4388161847   2016-04-15         8.77      1
144  4388161847   2016-04-16         7.47      1
145  4388161847   2016-04-17        10.68      1
146  4388161847   2016-04-18         1.73      1
147  4388161847   2016-04-19         5.63      1
148  4388161847   2016-04-20         7.52      1
149  4388161847   2016-04-21         7.63      1
150  4388161847   2016-04-22         1.42      1
151  4388161847   2016-04-23         8.35      1
152  4388161847   2016-04-24         9.92      1
153  4388161847   2016-04-26         5.77      1
154  4388161847   2016-04-27         8.33      1
155  4388161847   2016-04-28         7.63      1
156  4388161847   2016-04-30         7.17      1
157  4388161847   2016-05-01         9.95      1
158  4388161847   2016-05-02         6.27      1
159  4388161847   2016-05-04         6.90      1
160  4388161847   2016-05-05         8.25      1
161  4388161847   2016-05-07         8.27      1
162  4388161847   2016-05-08         9.02      1
163  4388161847   2016-05-09         1.08      1
164  4388161847   2016-05-10         6.25      1
165  4388161847   2016-05-11         8.23      1
166  4445114986   2016-04-12         7.62      1
167  4445114986   2016-04-13         6.77      1
168  4445114986   2016-04-14         8.20      1
169  4445114986   2016-04-15         6.32      1
170  4445114986   2016-04-16         8.32      1
171  4445114986   2016-04-17         1.78      1
172  4445114986   2016-04-19         7.07      1
173  4445114986   2016-04-20         7.70      1
174  4445114986   2016-04-21         7.82      1
175  4445114986   2016-04-22         6.95      1
176  4445114986   2016-04-25         5.75      1
177  4445114986   2016-04-26         6.52      1
178  4445114986   2016-04-27         6.23      1
179  4445114986   2016-04-28         7.37      1
180  4445114986   2016-04-29         1.80      1
181  4445114986   2016-04-30         5.88      1
182  4445114986   2016-05-01         7.65      1
183  4445114986   2016-05-02         9.03      1
184  4445114986   2016-05-03         7.50      1
185  4445114986   2016-05-04         6.05      1
186  4445114986   2016-05-05         8.55      1
187  4445114986   2016-05-06         6.70      1
188  4445114986   2016-05-07         7.27      1
189  4445114986   2016-05-08         6.52      1
190  4445114986   2016-05-09         8.88      1
191  4445114986   2016-05-10         7.10      1
192  4445114986   2016-05-11         8.83      1
193  4445114986   2016-05-12         8.35      1
194  4558609924   2016-04-21         2.28      1
195  4558609924   2016-04-26         2.02      1
196  4558609924   2016-04-29         2.98      1
197  4558609924   2016-05-01         2.15      1
198  4558609924   2016-05-08         2.23      1
199  4702921684   2016-04-12         7.32      1
200  4702921684   2016-04-13         7.17      1
201  4702921684   2016-04-14         6.92      1
202  4702921684   2016-04-15         4.28      1
203  4702921684   2016-04-16         6.77      1
204  4702921684   2016-04-17        10.20      1
205  4702921684   2016-04-18         5.20      1
206  4702921684   2016-04-19         8.12      1
207  4702921684   2016-04-20         7.80      1
208  4702921684   2016-04-21         7.23      1
209  4702921684   2016-04-23         7.92      1
210  4702921684   2016-04-24         8.43      1
211  4702921684   2016-04-25         6.33      1
212  4702921684   2016-04-26         7.15      1
213  4702921684   2016-04-27         7.48      1
214  4702921684   2016-04-28         7.68      1
215  4702921684   2016-04-29         7.45      1
216  4702921684   2016-04-30         8.35      1
217  4702921684   2016-05-03         6.22      1
218  4702921684   2016-05-04         7.23      1
219  4702921684   2016-05-05         7.13      1
220  4702921684   2016-05-06         7.48      1
221  4702921684   2016-05-07         9.05      1
222  4702921684   2016-05-09         7.63      1
223  4702921684   2016-05-10         7.18      1
224  4702921684   2016-05-11         6.10      1
225  4702921684   2016-05-12         7.37      1
226  5553957443   2016-04-12         7.73      1
227  5553957443   2016-04-13         8.13      1
228  5553957443   2016-04-14         6.97      1
229  5553957443   2016-04-15         6.82      1
230  5553957443   2016-04-16        11.43      1
231  5553957443   2016-04-17         6.70      1
232  5553957443   2016-04-18         9.02      1
233  5553957443   2016-04-19         6.83      1
234  5553957443   2016-04-20        11.30      1
235  5553957443   2016-04-21         7.18      1
236  5553957443   2016-04-22         5.88      1
237  5553957443   2016-04-23        12.08      1
238  5553957443   2016-04-24        10.67      1
239  5553957443   2016-04-25         7.80      1
240  5553957443   2016-04-26         7.55      1
241  5553957443   2016-04-27         6.52      1
242  5553957443   2016-04-28         7.62      1
243  5553957443   2016-04-29         8.25      1
244  5553957443   2016-04-30        14.05      1
245  5553957443   2016-05-01        11.43      1
246  5553957443   2016-05-02         7.85      1
247  5553957443   2016-05-03         7.15      1
248  5553957443   2016-05-04         7.83      1
249  5553957443   2016-05-05         7.73      1
250  5553957443   2016-05-06         7.23      1
251  5553957443   2016-05-07         7.83      1
252  5553957443   2016-05-08        10.13      1
253  5553957443   2016-05-09         8.23      1
254  5553957443   2016-05-10         7.38      1
255  5553957443   2016-05-11         8.10      1
256  5553957443   2016-05-12         7.92      1
257  5577150313   2016-04-12         7.30      1
258  5577150313   2016-04-13         7.63      1
259  5577150313   2016-04-14         8.28      1
260  5577150313   2016-04-15         6.88      1
261  5577150313   2016-04-16         7.42      1
262  5577150313   2016-04-17         9.72      1
263  5577150313   2016-04-18         9.22      1
264  5577150313   2016-04-19         7.75      1
265  5577150313   2016-04-20         8.00      1
266  5577150313   2016-04-21         7.28      1
267  5577150313   2016-04-22         6.10      1
268  5577150313   2016-04-23         6.70      1
269  5577150313   2016-04-24        10.25      1
270  5577150313   2016-04-25         7.68      1
271  5577150313   2016-04-26         6.28      1
272  5577150313   2016-04-27         7.53      1
273  5577150313   2016-04-28         6.20      1
274  5577150313   2016-04-29         8.08      1
275  5577150313   2016-04-30         7.22      1
276  5577150313   2016-05-01         6.63      1
277  5577150313   2016-05-02         9.22      1
278  5577150313   2016-05-03         9.05      1
279  5577150313   2016-05-04        10.57      1
280  5577150313   2016-05-05         1.30      1
281  5577150313   2016-05-10         9.37      1
282  5577150313   2016-05-11         7.93      1
283  6117666160   2016-04-16         6.63      1
284  6117666160   2016-04-17         5.83      1
285  6117666160   2016-04-18         8.50      1
286  6117666160   2016-04-19         8.20      1
287  6117666160   2016-04-20         8.37      1
288  6117666160   2016-04-21         9.17      1
289  6117666160   2016-04-22         9.10      1
290  6117666160   2016-04-23         8.98      1
291  6117666160   2016-04-24         6.12      1
292  6117666160   2016-04-27         9.28      1
293  6117666160   2016-04-28         6.93      1
294  6117666160   2016-04-29        10.60      1
295  6117666160   2016-05-01         9.58      1
296  6117666160   2016-05-05         6.92      1
297  6117666160   2016-05-06        11.63      1
298  6117666160   2016-05-07         8.45      1
299  6117666160   2016-05-08        10.05      1
300  6117666160   2016-05-09         8.70      1
301  6775888955   2016-04-13         4.33      1
302  6775888955   2016-04-14         7.35      1
303  6775888955   2016-04-15         6.77      1
304  6962181067   2016-04-12         6.45      1
305  6962181067   2016-04-13        11.32      1
306  6962181067   2016-04-14         8.92      1
307  6962181067   2016-04-15         6.43      1
308  6962181067   2016-04-16         6.10      1
309  6962181067   2016-04-17         7.43      1
310  6962181067   2016-04-18         7.63      1
311  6962181067   2016-04-19         8.92      1
312  6962181067   2016-04-20         7.07      1
313  6962181067   2016-04-21         7.62      1
314  6962181067   2016-04-22         7.25      1
315  6962181067   2016-04-23         9.10      1
316  6962181067   2016-04-24         8.57      1
317  6962181067   2016-04-25         6.92      1
318  6962181067   2016-04-26         7.43      1
319  6962181067   2016-04-27         7.78      1
320  6962181067   2016-04-28         7.55      1
321  6962181067   2016-04-29         7.45      1
322  6962181067   2016-04-30         7.07      1
323  6962181067   2016-05-01         7.10      1
324  6962181067   2016-05-02         8.03      1
325  6962181067   2016-05-03         6.97      1
326  6962181067   2016-05-04         7.58      1
327  6962181067   2016-05-05         8.18      1
328  6962181067   2016-05-06         7.70      1
329  6962181067   2016-05-07         5.57      1
330  6962181067   2016-05-08         9.48      1
331  6962181067   2016-05-09         8.28      1
332  6962181067   2016-05-10         8.02      1
333  6962181067   2016-05-11         8.00      1
334  6962181067   2016-05-12         8.92      1
335  7007744171   2016-04-16         1.37      1
336  7007744171   2016-05-01         1.02      1
337  7086361926   2016-04-12         8.75      1
338  7086361926   2016-04-13         7.75      1
339  7086361926   2016-04-14         7.93      1
340  7086361926   2016-04-15         6.43      1
341  7086361926   2016-04-19         8.05      1
342  7086361926   2016-04-20         8.37      1
343  7086361926   2016-04-21         6.85      1
344  7086361926   2016-04-22         7.47      1
345  7086361926   2016-04-24        11.73      1
346  7086361926   2016-04-25         7.45      1
347  7086361926   2016-04-26         8.33      1
348  7086361926   2016-04-27         7.98      1
349  7086361926   2016-04-28         6.12      1
350  7086361926   2016-04-30         8.15      1
351  7086361926   2016-05-01         6.78      1
352  7086361926   2016-05-02         7.65      1
353  7086361926   2016-05-03         7.68      1
354  7086361926   2016-05-04         7.27      1
355  7086361926   2016-05-06         5.55      1
356  7086361926   2016-05-07         9.13      1
357  7086361926   2016-05-08         8.50      1
358  7086361926   2016-05-09         7.30      1
359  7086361926   2016-05-11         7.72      1
360  7086361926   2016-05-12         7.62      1
361  8053475328   2016-04-20         8.22      1
362  8053475328   2016-04-23         5.62      1
363  8053475328   2016-05-07         1.25      1
364  8378563200   2016-04-12         5.93      1
365  8378563200   2016-04-13         8.12      1
366  8378563200   2016-04-14         7.58      1
367  8378563200   2016-04-15         8.88      1
368  8378563200   2016-04-16        11.48      1
369  8378563200   2016-04-17         9.85      1
370  8378563200   2016-04-18         7.52      1
371  8378563200   2016-04-19         7.02      1
372  8378563200   2016-04-20         6.82      1
373  8378563200   2016-04-21         6.95      1
374  8378563200   2016-04-22         7.82      1
375  8378563200   2016-04-23         9.85      1
376  8378563200   2016-04-24         8.20      1
377  8378563200   2016-04-25         6.70      1
378  8378563200   2016-04-26         9.73      1
379  8378563200   2016-04-27        10.00      1
380  8378563200   2016-04-28         9.27      1
381  8378563200   2016-04-29         9.37      1
382  8378563200   2016-04-30         9.25      1
383  8378563200   2016-05-01         8.98      1
384  8378563200   2016-05-02         6.42      1
385  8378563200   2016-05-03         7.15      1
386  8378563200   2016-05-04         7.95      1
387  8378563200   2016-05-05         6.95      1
388  8378563200   2016-05-06         5.92      1
389  8378563200   2016-05-07         8.55      1
390  8378563200   2016-05-08        10.10      1
391  8378563200   2016-05-09         6.65      1
392  8378563200   2016-05-10         6.52      1
393  8378563200   2016-05-11         6.45      1
394  8378563200   2016-05-12         9.10      1
395  8792009665   2016-04-12         8.22      1
396  8792009665   2016-04-13         9.20      1
397  8792009665   2016-04-14         8.38      1
398  8792009665   2016-04-15         6.28      1
399  8792009665   2016-04-20         9.12      1
400  8792009665   2016-04-22         6.78      1
401  8792009665   2016-04-23         6.00      1
402  8792009665   2016-04-27         7.13      1
403  8792009665   2016-04-28         6.93      1
404  8792009665   2016-04-29         6.77      1
405  8792009665   2016-04-30         6.00      1
406  8792009665   2016-05-01         8.78      1